#lmgProject:hover{
    cursor: pointer;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
}


.nav-link {
    color: #ff8500; 
}


.nav-link:hover {
    color: #d77300; 
    text-decoration: none;
}

.btn-primary, .btn-outline-primary {
    background-color: #ff8500; 
    border-color: #ff8500; 
    color: white; 
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #d77300; 
    border-color: #d77300;
}

.btn-outline-secondary {
    border-color: #ff8500; 
    color: #ff8500; 
    margin: 0 4px;
}

.btn-outline-secondary:hover {
    background-color: #ff8500; 
    color: white; 
}

.placeholder-giant-box {
    border: 2px solid black;
    width: 20%; 
    height: 250px; 
    padding: 0; 
    margin: 0 auto 20px; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.inside-image {
    width: 70%; 
    height: 100%; 
    object-fit: cover;
}
  

  
  @media (max-width: 768px) {
    .placeholder-giant-box {
      width: 95%;
    }
  }

.card {
    border-color: black; 
}

.card-header {
    background-color: #ff8500; 
    color: white; 
}

footer {
    background-color: #ebebeb; 
    color: #333; 
}

.contact-form {
    border: 2px solid #000;
    background-color: #fff;
    font-family: 'Arial', sans-serif; 
}

.contact-form h2 {
    color: #005cab; 
}

.form-control {
    border: 1px solid #000;
}

.btn-primary {
    background-color: #fe0000;
    border-color: #fe0000;
}

.btn-primary:hover {
    background-color: #d20000; 
    border-color: #d20000;
}


footer {
    background-color: #ffed00;
    color: #005cab;
}

.nav-link, .nav-link:hover {
    transition: color 0.2s;
}

body {
    background-color: #e4e4e4;
}
.contact-form-question {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 50px; 
}


.contact-form {
    position: relative;   
}
.card-header {
    position: relative; /* Establishes a positioning context for absolute positioned children */
    background-color: #ff8500;
    color: white;
}

.card-top-right-image {
    position: absolute; 
    top: -5px;
    right: 10px; 
    width: 50px; 
    height: auto;
}
footer {
    margin-bottom: 0;
    padding-bottom: 0; /* Adjust padding if necessary */
    /* Other existing styles... */
}
