body{
    display: grid;
    grid-template-columns: 
    "nav",
    "hero",
    "main",
    "footer";
}
#lmgProject:hover{
    cursor: pointer;
}
#lmg-href{
    text-decoration: none;
}
#heroText{
    grid-column: main;
    flex-wrap: wrap;
    text-align: center;
    font-family: nunito, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}